
{% extends 'baseFront.html.twig' %}

{% block title %}Login {% endblock %}

{% block content %}


<div class="example-wrapper">
    {% if emailForm is defined %}
     {{ include('user/_custom_email.html.twig',{'form':emailForm}) }}

        {% endif %}
    {% if codeForm is defined %}
     {{ include('user/_form.html.twig',{'form':codeForm}) }}
        {% endif %}
     {% if error is defined %}
     <div class="alert alert-danger my-5">
     {{error}}
     </div>
     {% endif %}
      {% if message is defined %}
     <div class="alert alert-success my-5">
     {{message}}
     </div>
     {% endif %}
</div>
{% endblock %}
